<div id="{{ popup_id }}" class="popup">
    <div class="my_overlay js-popup-close"></div>

    <div class="popup-wrapper-inner">
        <div class="in text-center">
            {{ popup_inner }}
            <button class="popup-close js-popup-close">close popup</button>
        </div>
    </div>
</div>